.boton{
  cursor: pointer;
  width: 100%;
  border: none;
  background: #219198;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.boton:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.boton:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}