/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-nov-2016, 11:08:36
    Author     : Hp ProBook 6470b
*/

body{
    font-family: 'Ubuntu', sans-serif;
}
 
li > a {
  color:#787878;
}

.nav{
  color:#14474b;
}

#titulo{
    color: white;
    background-color: #14474b;
        
}

#top-nav{
    color: white;
    background-color: #14474b;
}
#boton{
    background-color: #219198;
    color:white;
    font-family: 'Ubuntu', sans-serif;
}

label{
    color:#14474b;
}

#label{
    color:#14474b;
}

a, i {
    color:#14474b;
}

a:hover{
    color:#219198;
}

h1{
    color:#219198;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
h4{
    color:white;
    font-family: 'Ubuntu', sans-serif;
}

.iconBlanco{
    color:white;
}

.btn-primary{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;  
    font-size: 1.6em;
    color: #fff;
    background-color: #219198;
    border-color: #122b40;
}

.btn-primary:hover{
    background-color: #14474b;
  
}

btn-primary:focus{
    background-color: #14474b;
}

.lupa{
      
    width: 0.5em;  
}
